@import "../../../../styles/variables";

.selectBox {
  appearance: none;
  min-width: 100px;
  height: 2.8em;
  margin-right: 5px;
  margin-left: 10px;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: 1px solid $inactive-text-color;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.genderWrapper {
  display: flex;
  flex-direction: column;
}

.radioInput:checked {
  accent-color: #18a1a9;
}

.tagWrapper {
  display: flex;
  flex-wrap: wrap;
}
