@import "../../../../styles/variables";

.cosmeticItemWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: $text-color;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.center {
  text-align: center;
  font-size: 2em;
  margin: -0.1%;
}

.contents {
  padding: 0.2%;
}

.cosmeticImage {
  margin: -4%;
}

.horizontalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInfo {
  font-size: larger;
  margin-top: 1em;
}

.division {
  border-color: $inactive-text-color;
}

.matchRateWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 0.1em;
}

.ingredientList {
  font-size: medium;
  margin: 0px;
}

.tagStyle {
  margin-right: 4px;
  float: left;
}

.pillShapedButtonBlue {
  height: 52px;
  border-radius: 40px;
  width: 100%;
  background-color: $primary-color;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  cursor: pointer;
}

.pillShapedButtonBlue:hover {
  background-color: $pale-primary-color;
}

.categoryIcon {
  height: 2em;
  width: 7em;
  font-size: medium;
  border-radius: 40px;
  border: 1px solid #1aced6;
  background-color: white;
  color: #1aced6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noLinkStyle {
  text-decoration: none;
}
