.title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.itemsWrapper {
  width: 80%;
}

.backIcon {
  float: left;
}

.division {
  border-color: rgba(102, 102, 102, 0.35);
  margin-top: 20px;
  margin-bottom: 20px;
}

.textBox {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  margin-bottom: 1em;
}

.caption {
  text-align: center;
}

.snsIcon {
  margin-top: auto;
  margin-bottom: auto;
}

.link {
  text-decoration: underline;
}
