@import "../variables";

.softEdgeTagButton,
.softEdgeTagButtonActive,
.softEdgeTagButtonWhite {
  //効果あり、効果なしなどのタグに使う
  height: 30px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  background-color: white;
  color: $primary-color;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  cursor: pointer;
}

.softEdgeTagButtonActive {
  background-color: $primary-color;
  color: white;
}

.softEdgeTagButtonWhite {
  border: 2px solid $text-color;
  color: $text-color;
}
