@import "../../styles/variables";

.noLinkStyle {
  text-decoration: none;
  color: $primary-color;
}

// .header {
//   background-color: #fff;
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: row;
//   padding: 40px 37px 38px 59px;
//   gap: 2px;
//   max-width: 100%;
//   text-align: left;
//   color: $primary-color;
//   border-bottom: 1px solid $inactive-text-color;
// }

.logo {
  color: $primary-color;
  margin: 0;
  width: 182px;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: "Plus Jakarta Sans";
}

.rightAligned {
  margin-left: auto; //右寄せ
  display: flex;
  gap: 2em;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2em;
}

.navItem {
  display: flex;
  align-items: center;
}

.navItem a {
  color: $text-color;
  text-decoration: none;
}

.iconWrapper,
.logoutButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
