@import "../../styles/variables";

.noLinkStyle {
  text-decoration: none;
  color: $primary-color;
}

.logo {
  color: $primary-color;
  margin: 0;
  width: 182px;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: "Plus Jakarta Sans";
}

.navItem {
  display: flex;
  align-items: center;
}

.navItem a {
  color: $text-color;
  text-decoration: none;
}

.iconWrapper,
.logoutButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
