@import "../../../styles/variables";

.topColor {
  background-color: $primary-color;
  height: 20vh;
}

.icon {
  color: #232360;
  display: flex;
  margin-top: -5%;
  margin-left: 7%;
}

.title {
  margin-top: 5%;
  margin-left: 3%;
  font-size: 3rem;
}

.img {
  border-radius: 50%;
  width: 10rem;
  box-shadow: 0 10px 25px 0 $inactive-text-color;
}

.tabs {
  margin-top: 3%;
  margin-left: 8%;
  height: 3em;
}

.tabsWrapper {
  display: flex;
  gap: 1em;
  list-style: none;
}

.tab,
.activeTab {
  text-decoration: none;
  color: $text-color;
}

.tab {
  color: $inactive-text-color;
}
