@import "../../styles/variables";

.cosmeticCard {
  width: 300px;
  height: 480px;
  border-radius: 24px;
  border: 1px solid $inactive-text-color;
  flex-shrink: 0;
  padding: 2em 2em 1em 2em;
}

.cosmeticCardSearch {
  width: 200px;
  border-radius: 24px;
  border: 1px solid $inactive-text-color;
  flex-shrink: 0;
  padding: 2em 2em 1em 2em;
}
.cosmeticImageWrapper {
  display: flex;
  justify-content: center;
}

.horizontalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division {
  border-color: $inactive-text-color;
}

.matchRateWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.marginTop {
  margin-top: 1em;
}

.detailButtonWrapper {
  width: 80%;
  text-decoration: none;
}

.detailButton {
  border: none;
  background-color: $primary-color;
  border-radius: 36px;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.detailButton:hover {
  background-color: $pale-primary-color;
}

.detailButtonText {
  text-align: center;
}

.ingredientsWrapper {
  display: flex;
  gap: 0.5em;
}
