.ingredientsRank {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ingredientsRankTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.ingredientsRankItemsWrapper {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.ingredientRankItem {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 30px;
}
