@import "../../../../styles/variables";

.mypageItemsWrapper {
  color: $text-color;
}

.sectionWrapper {
  padding: 3em;
  display: flex;
  background-image: url("/imgs/skincare.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  align-items: center;
  background-size: cover; /* 画像を全体に広げる */
  background-position: 50% 60%; /* 画像の位置を中央に配置 */
}

.leftWrapper,
.rightWrapper {
  flex: 1;
}

.leftWrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3em;
}
.buttonWrapper {
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.rightWrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bottomSectionWrapper {
  padding: 100px;
}

.categoryButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.cosmeticsWrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
