@import "../../../../styles/variables";

.sectionWrapper {
  height: 30em;
  background-color: $secondary-color;
  padding-left: 4em;
  padding-right: 4em;
  background-image: url("/imgs/concept_img.jpg"); /* 画像のパスを指定 */
  background-size: 150% auto cover; /* 画像を全体に広げる */
  background-position: center; /* 画像の位置を中央に配置 */
}

.conceptWrapper {
  height: 100%;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.concept {
  color: white;
  text-shadow: 2px 2px 4px $text-color;
  font-size: 2em;
  font-weight: bold;
}

.subconcept {
  color: white;
  font-size: 1.2em;
}

.linkSeparator {
  margin-bottom: .5em;
}

.accountLink {
  text-decoration: underline; /* 下線を引く */
}