@import "../../../../styles/variables";

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;
  align-items: center;
  color: $text-color;
}

.subtitle {
  text-align: center;
  width: 100%;
}

.funcWrapper {
  display: flex;
  gap: 2em;
}

.funcItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption {
  margin-top: -50px;
  justify-content: center;
  display: flex;
}

.captionText {
  width: 90%;
  background-color: white;
  color: #717171;
  height: 40px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
